.selfCSS { 
  position: absolute; 
  top: 35%; 
  left: 2%; 
  right: 1%; 
  bottom: 0%; 
  height: 76px; 
  width: 800px; 
  padding: 15px 0px 0px 31px; 
  margin: 0px auto 0px auto; 
  display: block; 
  background: #000000; 
  font-size: 37px; 
  color: #FFFFFF; 
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace; 
 }