body {
   font-family: sans-serif;
   /* line-height: 1.6; */
   font-size: 18px;
   right: 50%;
   bottom: 50%;
   transform: translate(50%, 50%);
   position: absolute;
   max-height: 100%;
}


footer {
   padding-top: 1px;
   line-height: 0%;
}

.ids ul {
   padding: 0;
   list-style-type: none;
}

a {
   text-decoration: none;
}

@media (prefers-color-scheme: dark) {
   body {
      background-color: #000;
      color: #fff;
   }

   a:link,
   a:hover,
   a:active {
      color: lightblue;
   }

   a:visited {
      color: plum;
   }
}